div#paging
{
  text-align: center;
  right:45%;
}


#wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 10%;
  background-color: #BCE0FD;
}

.right-column {
  width: 90%;
}


div#pagingbox{
  background: #FFF;
}

th{
  /* ヘッダ背景塗りつぶし */
  background: #eee;
}
th,td {
 /* 枠線を1本線指定 */
  border: solid 1px;
  width:auto;
}

table{
 /* 枠線を1本線指定 */
  border: solid 1px;
  border-collapse:  collapse;
  white-space: nowrap;
}

footer{
  width: 100%;
  background-color: #C0C0C0;
  padding: 15px 0;

}
